<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: layout(_title = ~{::title}, _header = ~{::header}, _content = ~{::content})}"
>
  <th:block th:fragment="title">
    <th:block th:text="${singlePage.spec.title} + '|' + ${site.title}"></th:block>
  </th:block>

  <th:block th:fragment="header">
    <div class="single-page-header">
      <th:block th:replace="~{macro/page-header :: page-header(extension = ${singlePage}, frontCover = ${singlePage.spec.cover}, headerTitle = ~{::headerTitle})}" />
    </div>
  </th:block>

  <th:block th:fragment="headerTitle">
    <h1 th:text="${singlePage.spec.title}"></h1>
  </th:block>
  
  <th:block th:fragment="content">
    <div id="primary" class="content-area">
      <th:block th:replace="~{macro/content-page :: content-page(${singlePage})}" />
    </div>

    <!-- Random Poem Section -->
    <div class="poem-wrap" style="position: relative; width: 730px; max-width: 80%; border: 2px solid #797979; border-top: none; text-align: center; margin: 80px auto;">
      <div class="poem-border poem-left" style="position: absolute; height: 2px; width: 27%; background-color: #797979; left: 0;"></div>
      <div class="poem-border poem-right" style="position: absolute; height: 2px; width: 27%; background-color: #797979; right: 0;"></div>
      <h style="font-size: 40px; font-style: normal; position: relative; margin-top: -40px; display: inline-block; letter-spacing: 4px; color: #797979;">念两句诗</h>
      <p id="poem" style="width: 70%; margin: auto; line-height: 30px; color: #797979; font-size: 22px; margin: 15px auto;">挑选中...</p>
      <p id="info" style="width: 70%; margin: auto; line-height: 30px; color: #797979; font-size: 15px; margin: 15px auto;"></p>
      <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8" defer></script>
      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
          jinrishici.load(function(result) {
            poem.innerHTML = result.data.content;
            info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》';
          });
        });
      </script>
    </div>

    <!--/* 评论组件 */-->
    <th:block th:replace="~{module/comment :: comment(group = 'content.halo.run', kind = 'SinglePage', name = ${singlePage.metadata.name})}" />
  </th:block>
</html>
